
body{
    display: flex;
    justify-items: center;
    height: 100vh;
    background-color: var(--main-background-color);
    overflow-y: hidden;
    color: var(--main-text-color);
    align-items: center;
}

a{
    text-decoration: none;
    color: var(--main-text-color);
}
#header {
    border-radius: var(--main-border-radius);
    /* border-radius: 20px 20px 0px 0; */
    user-select: none;
    cursor: pointer;
    font-size: 60px;
    font-family: 'arial';
    text-align: center;
    letter-spacing: 5px;
    /* font-weight: lighter; */
    font-weight: 900;
    width: 100%;
    background: var(--second-background-color);
}


.btn{
    user-select: none;
    cursor: pointer;
}
#right-side-block{
    align-items: center;
    /* justify-content: center; */
}

#left-block{

    /* margin-top: 166px; */
    flex-direction: column;
    /* margin-right: 55px; */
}
#left-block .big-blocks{
    /* display: none; */
    opacity: 1;
    /* transition: .5s; */
    margin: 20px 0 0 20px;
    background-color: var(--second-background-color);
    padding: 10px 10px ;
    border-radius: var(--main-border-radius);
    /* width: 450px; */
}

#translate{
    display: none;
    /* opacity: 1 !important; */
    height: 388px;
    font-family: Arial, Helvetica, sans-serif;
}
#translate textarea{
    width: calc(100% - 20px);
    
    outline: none !important;
    border-radius: var(--main-border-radius);
    height: 120px;
    padding: 10px;
    margin-top: 10px;
    border: 0;
    background-color: var(--second-background-color);
    /* border: 1px solid lightgray; */
    /* border-radius: 10px; */
    resize: none;
}
#translate-small-block{
    position: relative;
    height: calc(100% - 100px);
}

#left-block, #right-side-block{
    height: 100vh;
    opacity: 0;
    min-width: 470px;
    max-width: 470px;
    transition: .5s;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    
}
 #right-side-block:hover{
    opacity: 1;
}
#main-weather-info{
    padding: 15px 0;
}
#space-monkey {
    font-family: "SF PRO Text";
    /* font-weight: lighter; */
	user-select: none;
    margin-bottom: 10px;
    font-size: 9px;
    letter-spacing: 0.5px;
    text-align: right;
}
#weather-main-block, #cripto-main-block{
    /* border: 1px solid var(--main-background-color); */
    /* border-radius: var(--main-border-radius); */
    display: flex;
    height: 100px;

}
#weather{
    /* user-select: none; */
    /* margin-left: 20px; */
    height: 106px;
    /* opacity: 0; */
    /* display: none; */
}
#weather .main-block, #cripto-main-block .main-block{
    /*  */
    font-size: 11px;
}
#content-blocks {
    display: flex;
}
#center-block {
    position: relative;
    min-width: 980px;
    display: flex;
    height: 100vh;
    /* transition: .5s; */
    flex-direction: column;
}
#weather-city-name{
    font-size: 25px;
}

#weather-main-block i{
    font-size: 50px;
    height: 100px;
    display: flex;
    width: 100px;
    background: #fff;
    align-items: center;
    margin-right: 20px;
    border-radius: var(--main-border-radius);
    
    background-color: var(--second-background-color);
    justify-content: center;
}
#weather .small-blocks i, #currency .small-blocks i{
    font-size: 20px;
    padding: 12px;
    height: 24px;
    width: 24px;
}



#weather-blocks .weather-sb-temp-min-max{
    font-size: 9px;
}
#weather .small-blocks, #currency .small-blocks {
    opacity: 0;
    display: flex;
    border-radius: 10px;
    align-items: center;
    font-size: 10px;
    height: calc(100% - 2px);
    width: 143px;
}
#weather-blocks, #cripto-blocks, #news-blocks {
    /* margin-top: 5px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* height: 100px; */
    /* margin-top: 10px; */
    gap: 10px;
    width: 100%;
    /* background: gray; */
    /* border-top: 1px solid gray; */
    align-items: center;
    /* justify-items: center; */
}
#news-blocks{
    top:60px;
    transition: .1s;
    position: absolute;
    user-select: auto !important;
    grid-template-columns: repeat(1, 1fr);
    /* height: 656px; */
    /* overflow-x: scroll; */
    /* margin-top: 10px; */
    opacity: 1;
}
#news-blocks .news-small-block h3{
    margin-bottom: 5px;
}
#news{
    overflow: hidden;
    background: transparent !important;
    padding: 0 !important;
    width: calc(100% - 40px);
    position: relative;
    /* height: 670px; */
    height: 797px;
    /* height: 837px; */
    /* overflow-y: scroll; */
    /* background: red !important; */
}
#news-select-topics input{
    display: none;
}
.news-topics-active, .history-request-btn-active{
    /* background-color: var(--main-background-color); */
    background: #000;
    /* color: var(--main-text-color); */
    color: #fff;
    
}
#news-select-topics label, .history-request-btns{
    cursor: pointer;
    transition: .2s;
    padding: 5px 5px;
    margin-right: 5px;
}
#news-select-topic-selector{
    height: 10px;
    position: absolute;
    width: 10px;
    background-color: red;
}
#news-select-topics, .request-btn{
    user-select: none;
    border-radius: 10px;
    display: inline-block;
    /* text-align: center; */
    height: 30px;
    width: calc(100% - 40px);
    line-height: 30px;
    position: sticky;
    top: -10px;
    background: var(--second-background-color);
    /* width: 90%; */
    z-index: 1;
    padding: 10px 20px;
}
.request-btn{
    overflow-y: scroll;
}



/* 

STYLE FOR SHORTCUTS


*/
/* COMPACT */
.shortcuts-grid-small{
    user-select: none;
    list-style: none;
    text-transform: capitalize;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.shortcuts-grid-small img, .folder img{
    margin-right: 7.5px;
    padding: 4px;
    height: 20px;
    width: 20px;
}
.shortcuts-grid-small span, .folder span{
    width: 100%;
    line-height: 25px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    border-radius: 0px !important;
    background: transparent !important;
}
.shortcuts-grid-small a, .shortcuts-grid-small #shortcut-link-create, .folder a{
    position: relative;
    justify-content: center;
    padding: 3px 0px;
    text-align: center;
    text-wrap: nowrap;
    display: flex;
    overflow: hidden;
    font-size: 17px;
    height: 25px;
    align-items: center;
    cursor: pointer;
    padding: 3px 15px 3px 7.5px !important;
    border-radius: 5px;
    background-color: var(--second-background-color);
}

/* LARGE */
.shortcuts-grid-large {
	min-height: 127px;
	width: 100%;
	gap: 10px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
.shortcuts-grid-large{
	user-select: none;
}

.shortcut .no-img {
    height: 100%;
    width: 100%;
    color: #fff;
    border-radius: 5px;
    background: var(--shortcuts-shortcut-no-img);
    line-height: 100px;
    text-align: center;
}
.shortcut img, .shortcut i {
	border-radius: 5px;
	height: 30px;
	width: 30px;
	margin: 20px 0px;
}

.shortcut, .shortcuts-grid-large #shortcut-link-create{
    position: relative;
    height: 100px;
    width: 100px;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    text-transform: capitalize;
    align-items: center;
    border-radius: 10px;
    background: var(--second-background-color);
    flex-direction: column;
}
.shortcut-title-block{
	font-size: 15px;
	bottom: 10px;
	line-height: 20px;
	text-align: center;
}
.shortcuts-grid-large a{
    margin-bottom: 40px;
}
.shortcut img, .shortcut i{
    margin: 35px 0px;
}
.shortcut-title-block{
    position: absolute;
    bottom: -30px;
}
/*  */




/* 

STYLE FOR SHORTCUTS - END


*/


/*  */
#shortcuts-pages{
	position: absolute;
    bottom: 20px;
	width: 100%;
	margin-top: 40px;
	display: flex;
	justify-content: center;
	/* display: none; */
}
#shortcuts-page {
	border-radius: 10px;
    display: flex;
    gap: 10px;
    min-width: 40px;
    /* box-shadow: 6px 5px 20px 0px #00000004; */
    padding: 8px;
    background: var(--second-background-color);
}


#shortcuts-pages .page{
	user-select: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	/* margin-right: 10px; */
	/* background: #f4f4f4; */
	height: 24px;
	width: 24px;
	line-height: 24px;
}
#shortcuts-pages .page.active{
    background: var(--main-background-color);
}



#settings-btn{
    z-index: 3;
    cursor: pointer;
    transition: .2s;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 25px;
}
#settings a{
    /* color: -webkit-link; */
    cursor: pointer;
    text-decoration: underline;

}
#settings {
    /* box-shadow: -7px 9px 20px 4px #00000021; */
    box-shadow: -7px 9px 20px 4px #00000005;
    animation: fadeIn .2s;
    z-index: 2;
    user-select: none;
    font-size: 14px;
    display: none;
    position: absolute;
    padding: 20px 10px;
    right: 27px;
    width: 230px;
    top: 50px;
    border-radius: 20px 7px 20px 20px;
    background-color: var(--second-background-color);
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
#settings li{
    cursor: pointer;
    list-style: none;
    text-align: center;
    margin-bottom: 2px;
}
#settings h3{
    margin-bottom: 5px;
}
#switch, #bookmarks-sort{
    
    cursor: pointer;
}

#shortcut img, #folderBg img{
    margin-right: 7.5px;
    padding: 4px;
    /* border-radius: 50px; */
    height: 20px;
    width: 20px;
}
#header img{
    height: 50px;
    width: auto;
    position: relative;
    top: 3px;
}

#search-input{
    font-family: "SF PRO Text";
    background-color: var(--second-background-color);
    color: var(--main-text-color);
    border-radius: 10px;
    outline: none;
    width: calc(100% - 40px);
    padding: 0 20px;
    height: 50px;
    border: 0;
    margin-bottom: 10px;
}
#search-cleaner{
    display: none;
    height: 20px;
    width: 20px;
    position: absolute;
    font-size: 20px;
    right: 0;
}

#radio {
    text-align: center;
    border-radius: 5px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    background-color: var(--second-background-color);
    line-height: 31px;
    height: 31px;
    overflow: hidden;
    user-select: none;
    display: none;
    margin-bottom: 10px;
    line-height: 31px;
}
#radio label{
    user-select: none;
}
#radio input[type=radio]{
/* #radio input{ */
    display: none;
}

#main-content{
    transition: .2s;
    width: 900px;
}

#overlay{
    animation: fadeIn .2s;
    position: absolute;
    z-index: 3;
    display: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
div#overlay-close {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 23px;
}
.shortcut-btn {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}
.add-new-tab {
    padding: 30px 20px;
    /* align-items: center; */
    position: relative;
    /* display: flex; */
    /* height: 200px; */
    border-radius: 20px;
    background: var(--second-background-color);
    /* width: 400px; */
    border: 1px solid var(--second-background-color);
    /* flex-direction: column; */
    /* justify-content: center; */
}

.add-new-tab .btn {
    padding: 5px 10px;
    width: 143px;
    display: flex;
    height: 30px;
    border-radius: var(--main-border-radius);
    background-color: var(--main-background-color);
    align-items: center;
    /* font-family: arial; */
    /* letter-spacing: 1px; */
    font-size: 14px;
    transition: .2s;
    /* color: #fff; */
    justify-content: center;
}
.add-new-tab .btn i {
    margin-right: 5px;
    /* font-size: 0px; */
}
#shortcut-link-add{
    width: 100%;
}
#shortcut-link-save:hover,
#shortcut-link-add:hover{
    
    background-color: #24da3c;
    color: #fff;
}
#shortcut-link-remove:hover{
    color: #fff;
    background-color: Red;
}
.add-new-tab .btn-block {
    justify-content: space-between;
    margin-top: 10px;
    display: flex;
    width: 100%;
}
.add-new-tab .inputs{
    width: 336px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#link-title{
    width: 65%;
    margin: 10px 10px 0 0;
}
#link-position{
    text-align: center;
    margin-top: 10px;
    width: 7%;
}
#link-url{
    margin-top: 10px;
    width: 100%;
    /* width: 278px; */
}
.add-new-tab input{
    outline: none;
    height: 3px;
    color: var(--main-text-color);
    border-radius: var(--main-border-radius);
    border: 1px solid var(--second-background-color);
    background:  var(--main-background-color);
    /* margin: 5px auto; */
    padding: 19px 20px;
    
}
#folderBg img{
    margin-right: 0;
}
#folderBg span{
    /* text-align: left; */
    justify-content: flex-start;
    background-color: transparent ;
    /* box-shadow: 0px 0px 25px 0 #00000014; */
}
.folders::-webkit-scrollbar, #my-notes::-webkit-scrollbar, #news-blocks::-webkit-scrollbar, .request-btn::-webkit-scrollbar{
    width: 0px;
    height: 0;
}

#folderBg{
    background-color: var(--second-background-color);
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    top: 100%;
    position: absolute;
    transition: .3s ease-out;
    width: 100%;
}
.folders {
    overflow: hidden scroll;
    width: 1200px;
    /* margin-top: 200px; */
    /* height: 90%; */
    padding: 80px 0;
    /* padding: 40px 0 60px 0; */
    margin: 0 auto;
    /* margin-bottom: 40px; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.folder {
    /* height: 31px; */
    display: grid;
    grid-template-columns: [start] 16% [line2] 84%;
}

.folder-links{
    grid-template-columns: repeat(6, 159px);
    display: grid;
    gap: 10px;
    border-radius: 27px;
    /* grid-template-columns: repeat(5, 1fr); */
    font-size: 15px; 
}
.folder1231a {
    background: var(--second-background-color);
    /* display: flex; */
    align-items: center;
    height: 31px;
    overflow: hidden;
    text-wrap: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 20px;
    justify-content: center;
}
.folder-title{
    /* background-color: #e7e7e7; */
    font-size: 17px;
    width: calc(100% - 10px);
    display: flex;
    height: 100%;
    /* border-right: 2px solid var(--main-background-color); */
    border-right: 2px solid #ececec;
    align-items: center;
    justify-content: space-evenly;
}

#bottomData {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    font-size: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}
#history {
    width: calc(100% - 40px);
    height: calc(100% - 206px);
	overflow: hidden;
    position: relative;
    /* background: red; */
    /* background: var(--second-background-color); */
    border-radius: var(--main-border-radius);
    /* padding: 20px; */
}
#history .domain, #search-results .domain{
    font-size: 9px;
    font-family: "SF PRO Text";
    font-weight: 100;
    letter-spacing: 0.3px;
    margin-inline-start: 8px;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
}
#history .title, #search-results .title{
    width: 338px;
    /* padding: 0 10px; */
    /* display: flex; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#search-results .title{
    width: 100%;
}

#history .date{
    width: 65px;
    /* padding: 0 10px; */
    text-align: center;
}
#history .request-btn i, #history .request-btn img {
    filter: saturate(0);
    margin-right: 5px;
    padding: 5px;
    display: flex;
    z-index: 1;
    height: 20px !important;
    width: 20px !important;
}

#history-selected{
    transition: .2s;
    /* left: 118px; */
    border-radius: var(--main-border-radius);
    width: 20px;
    height: 20px;
    padding: 5px;
    position: absolute;
    background-color: var(--main-background-color);
}

#my-notes{
    /* height: ; */
    overflow-y: scroll;
    word-break: break-all;
    width: calc(100% - 40px);
    outline: none;
    height: calc(728px - 54px);
    resize: none;
    font-size: 15px;
    border: 0;
    border-radius: var(--main-border-radius);
    padding: 20px;
    

    background-color: var(--second-background-color);    
}
#historyList{
    /*  */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    border-radius: var(--main-border-radius);
    /* background: #fff; */
    /* height: calc(100% - 140px); */
    /* height: 424px; */
    /* padding: 10px 10px; */
    margin: 10px 0;
}
#historyList li, #search-results li{
    overflow: hidden;
    opacity: 0;
    border-radius: var(--second-border-radius);
    height: 25px;
    background: var(--second-background-color);
    height: 31px;
    grid-template-columns: repeat(3, 1fr);
    /* grid-row: auto; */
    align-items: center;
    /* height: 20px; */
    /* width: 95%; */
    margin: auto;
    display: grid;
    list-style: none;
    /* margin-bottom: 10px; */
    justify-items: end;
}

ul#search-results {
	background: var(--main-background-color);
    position: absolute;
    top: 220px;
    z-index: 1;
}
#search-results li{
    line-height: 31px;
    margin-bottom: 10px;
    display: flex;
    opacity: 1;
}
/* #historyList li:last-child{
    margin-bottom: 0;
} */
#historyList img, #search-results img{
    /* border-radius: var(--main-border-radius); */
    height: 15px;
    width: 15px;
    padding: 0 5px;
    /* margin-right: 5px; */
}
#search-results img{
    padding: 0 10px;
}
#history h1{
    display: block;
    text-align: center;
    height: 50px;
    border-radius: var(--second-border-radius);
    line-height: 50px;
    background: var(--second-background-color);
}
@keyframes balance_red {
    from {
        color: red;
    }
    to {
        /* color: red; */
        color:#000;
    }
}

@keyframes balance_green {
    from {
        color: green;
    }
    to {
        color:#000;
        /* color: green; */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn-bloks {
    from {
        opacity: 0;
        /* transform: translateX(-10px); */
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
        /* transform: translateX(0px); */
    }
}

@keyframes aksdkaskd {
    0% {
        opacity: 1;
        top: -2px;
    }
    50% {
        opacity: 0;
        top: -2px;
    }
    100%{
        opacity: 1;
        top: -2px;
    }
}
@media screen and (width <= 1280px) {
    #left-block, #right-side-block{
        display: none;
    }
    #center-block{
        margin: auto;
    }
}
@media screen and (width > 1920px) {
    #left-block, #right-side-block{
        display: none;
    }
    #center-block{
        margin: auto;
    }
}